.user-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin:20px 0 0;
    max-width:200px;
    padding:10px;
    background: var(--purple-shade-4);
    border-radius:5px;
}

.user-profile-photo{
    width:80px;
    height:80px;
    border-radius:100%;
    object-fit: cover;
}

.user-username{
    font-size:12px;
}

.view-profile-button{
    background:var(--purple-shade-1);
    border:none;
    padding:8px 16px;
    border-radius:5px;
    color:white;
    font-weight:700;
    cursor: pointer;
}

.view-profile-button:hover{
    border:2px solid var(--purple-shade-1);
    color:var(--purple-shade-1);
    background: whitesmoke;
    padding:6px 14px;
}