body{
    --purple-shade-1:#6e21ba;
    --purple-shade-2:#7a25d0;
    --purple-shade-3:#d9bef4;
    --purple-shade-4:#e5d4f7;
    --gray-shade-1:rgb(198, 194, 194);
}

.main-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

@media (max-width: 768px) {
    .main-container{
        grid-template-columns: 3fr 17fr;
    }
}